.nav img.logo {
    width: 15rem;
    margin-bottom: 0;
}

.nav ul {
    margin-top: 0;
    line-height: 35px;
}

.title-1 {
    font-size: 85px;
    line-height: 0.95;
}

.mt-lg {
    margin-top: 10rem;
}